<a href="https://colab.research.google.com/github/guelpman/Priorizacion_Descuentos_Peru/blob/Prueba1/Prueba1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import os

In [ ]:
urlpath = "https://raw.githubusercontent.com/guelpman/Priorizacion_Descuentos_Peru/main/"
filename = "AIF-20_bike-no.csv"
fullpath = os.path.join(urlpath, filename)
data= pd.read_csv(fullpath, error_bad_lines=False)
data.head()

   instant      date  season  yr  ...  windspeed  casual  registered   cnt
0        1  1/1/2011       1   0  ...   0.160446     331         654   985
1        2  1/2/2011       1   0  ...   0.248539     131         670   801
2        3  1/3/2011       1   0  ...   0.248309     120        1229  1349
3        4  1/4/2011       1   0  ...   0.160296     108        1454  1562
4        5  1/5/2011       1   0  ...   0.186900      82        1518  1600

[5 rows x 14 columns]

In [ ]:
data.describe()

          instant      season  ...   registered          cnt
count  731.000000  731.000000  ...   731.000000   731.000000
mean   366.000000    2.496580  ...  3656.172367  4504.348837
std    211.165812    1.110807  ...  1560.256377  1937.211452
min      1.000000    1.000000  ...    20.000000    22.000000
25%    183.500000    2.000000  ...  2497.000000  3152.000000
50%    366.000000    3.000000  ...  3662.000000  4548.000000
75%    548.500000    3.000000  ...  4776.500000  5956.000000
max    731.000000    4.000000  ...  6946.000000  8714.000000

[8 rows x 13 columns]

In [ ]:
1+3

4

In [ ]:
4+2

6