<a href="https://colab.research.google.com/github/guelpman/Priorizacion_Descuentos_Peru/blob/main/Prueba.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import os

In [2]:
urlpath = "https://raw.githubusercontent.com/guelpman/Priorizacion_Descuentos_Peru/main/"
filename = "AIF-20_bike-no.csv"
fullpath = os.path.join(urlpath, filename)
data= pd.read_csv(fullpath, error_bad_lines=False)
data.head()

   instant      date  season  yr  ...  windspeed  casual  registered   cnt
0        1  1/1/2011       1   0  ...   0.160446     331         654   985
1        2  1/2/2011       1   0  ...   0.248539     131         670   801
2        3  1/3/2011       1   0  ...   0.248309     120        1229  1349
3        4  1/4/2011       1   0  ...   0.160296     108        1454  1562
4        5  1/5/2011       1   0  ...   0.186900      82        1518  1600

[5 rows x 14 columns]